{% extends "base.html" %}

{% block content %}
<h1>Игры Смешариков</h1>
<p>Играйте в увлекательные игры с участием Смешариков.</p>

<div class="game">
    <h2>Игра 1: "Смешарики: Пин-код"</h2>
    <p>Решайте головоломки и помогайте Пину спасти мир!</p>
</div>

<div class="game">
    <h2>Игра 2: "Смешарики: Рейсинг"</h2>
    <p>Гонки на машинах с участием любимых персонажей.</p>
</div>

<div class="game">
    <h2>Игра 3: "Смешарики: Квест"</h2>
    <p>Отправляйтесь в увлекательное приключение с Крошем и Ёжиком.</p>
</div>

{% endblock %}